DailyCals/Service References/DailyCalsWS/DailyCalsServiceV2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DailyCalsServiceV2" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.squealbark.com/squealbark/DailyCalsServiceV2.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www.squealbark.com/squealbark/DailyCalsServiceV2.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.squealbark.com/squealbark/DailyCalsServiceV2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDailyCalsServiceV2_DoesProfileExist_InputMessage">
    <wsdl:part name="parameters" element="tns:DoesProfileExist" />
  </wsdl:message>
  <wsdl:message name="IDailyCalsServiceV2_DoesProfileExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoesProfileExistResponse" />
  </wsdl:message>
  <wsdl:message name="IDailyCalsServiceV2_GetProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProfile" />
  </wsdl:message>
  <wsdl:message name="IDailyCalsServiceV2_GetProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IDailyCalsServiceV2_UpdateProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfile" />
  </wsdl:message>
  <wsdl:message name="IDailyCalsServiceV2_UpdateProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IDailyCalsServiceV2_InsertProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertProfile" />
  </wsdl:message>
  <wsdl:message name="IDailyCalsServiceV2_InsertProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertProfileResponse" />
  </wsdl:message>
  <wsdl:portType name="IDailyCalsServiceV2">
    <wsdl:operation name="DoesProfileExist">
      <wsdl:input wsaw:Action="http://tempuri.org/IDailyCalsServiceV2/DoesProfileExist" message="tns:IDailyCalsServiceV2_DoesProfileExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDailyCalsServiceV2/DoesProfileExistResponse" message="tns:IDailyCalsServiceV2_DoesProfileExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IDailyCalsServiceV2/GetProfile" message="tns:IDailyCalsServiceV2_GetProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDailyCalsServiceV2/GetProfileResponse" message="tns:IDailyCalsServiceV2_GetProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IDailyCalsServiceV2/UpdateProfile" message="tns:IDailyCalsServiceV2_UpdateProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDailyCalsServiceV2/UpdateProfileResponse" message="tns:IDailyCalsServiceV2_UpdateProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IDailyCalsServiceV2/InsertProfile" message="tns:IDailyCalsServiceV2_InsertProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDailyCalsServiceV2/InsertProfileResponse" message="tns:IDailyCalsServiceV2_InsertProfile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDailyCalsServiceV2" type="tns:IDailyCalsServiceV2">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoesProfileExist">
      <soap:operation soapAction="http://tempuri.org/IDailyCalsServiceV2/DoesProfileExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProfile">
      <soap:operation soapAction="http://tempuri.org/IDailyCalsServiceV2/GetProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <soap:operation soapAction="http://tempuri.org/IDailyCalsServiceV2/UpdateProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertProfile">
      <soap:operation soapAction="http://tempuri.org/IDailyCalsServiceV2/InsertProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DailyCalsServiceV2">
    <wsdl:port name="BasicHttpBinding_IDailyCalsServiceV2" binding="tns:BasicHttpBinding_IDailyCalsServiceV2">
      <soap:address location="http://www.squealbark.com/squealbark/DailyCalsServiceV2.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>